
name: JavaScripts


on:
  [push]

jobs:
  buildAndTest:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        run: yarn

      - name: Build components
        run: yarn c build

      - name: Test
        run: yarn test:ci
